@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic");

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/css?family=Lato:700");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

/*Обнуление окончания*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1250px;
  padding: 0px 15px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background: url("../img/image/header.jpg") 100% 100%/cover no-repeat;
  height: 100%;
  font-family: "Open Sans";
  position: relative;
}

.header-top {
  height: 130px;
  background-color: rgba(244, 246, 245, 0.6);
  position: relative;
  z-index: 2;
  width: 100%;
}

.header-top__row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__logo {
  position: relative;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 130px;
  background-color: #262010;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top__logo img {
  display: block;
}

.header-top__logo:after {
  content: "";
  position: absolute;
  z-index: 122;
  bottom: -38%;
  left: 0px;
  border-right: 125px solid transparent;
  border-left: 125px solid transparent;
  border-top: 50px solid #262010;
}

.header-top__ulmainrowmodification {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 22;
}

.header-top__ulmainrowmainnav {
  display: none;
}

.header-top__ul {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 22;
}

.header-top__ul:first-child {
  margin-right: 15px;
}

.header-top__li {
  margin-right: 18px;
  position: relative;
  z-index: 22;
}

.header-top__li:last-child {
  margin-right: 0px;
}

.header-top__a {
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  position: relative;
  z-index: 22;
}

.header-top__a:hover {
  text-decoration: underline;
}

.header-top__mobile {
  display: block;
  margin-bottom: 5px;
  color: #3d3c3a;
  font-weight: lighter;
  font-size: 18px;
}

.header-top__mobile:last-child {
  margin-bottom: 0px;
}

.header-top__minirow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-top__gmail {
  display: block;
  padding: 5px;
  color: #3d3c3a;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 18px;
}

.burger-menu {
  display: none;
}

.contactsformobile__contacts {
  display: none;
}

.header-center__body {
  padding: 80px 0px 210px 0px;
}

.header-center__h3 {
  font-size: 39px;
  color: black;
  margin-bottom: 33px;
  font-family: "Open Sans";
  max-width: 610px;
  font-weight: 800;
  line-height: normal;
}

.header-center__strongtext {
  margin-bottom: 50px;
  font-family: "Open Sans";
  font-size: 29px;
  font-weight: 500;
  max-width: 530px;
}

.header-center__forfree {
  font-size: 26.5px;
  font-weight: 500;
  margin-bottom: 55px;
  font-family: "MyriadPro";
  line-height: normal;
}

.header-center__maina {
  display: block;
  padding: 20px 63px;
  border-radius: 30px;
  background: linear-gradient(to right, #f59b00, #fdcb00, #f59b00);
  background-size: 200%;
  text-align: center;
  max-width: 350px;
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 500;
  color: #301007;
}

.header-center__maina:hover {
  background-size: 100%;
  color: white;
}

.header-center__minirow {
  margin-top: 75px;
  display: flex;
}

.header-center__minicolum {
  display: flex;
  align-items: center;
}

.header-center__minicolum:first-child {
  margin-right: 50px;
  margin-bottom: 25px;
}

.header-center__img {
  width: 70px;
  height: 70px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-center__img img {
  display: block;
}

.header-center__downtext {
  max-width: 200px;
  font-size: 16px;
  line-height: normal;
}

.header-center__downtext:last-child {
  max-width: 150px;
}

.about-product {
  margin-top: -180px;
  position: relative;
  height: 100%;
  z-index: 2;
  background: url("../img/background/sectionabout.png") no-repeat;
  font-family: "Open Sans";
}

.about-product:after {
  content: "";
  width: 100%;
  height: 640px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  margin-top: 150px;
  background-color: #fdc700;
}

.about-product:before {
  content: "";
  width: 60%;
  height: 150px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -2;
  background-color: #fdc700;
}

.about-product__honey {
  position: absolute;
  bottom: -110px;
  left: -20px;
  z-index: 5;
}

.about-product__body {
  width: 100%;
  height: 100%;
  padding: 100px 0px 70px 0px;
  margin: 0px auto;
}

.about-product__h4 {
  width: 100%;
  height: 100%;
  margin-bottom: 110px;
  text-align: center;
  font-weight: 800;
  font-size: 35px;
}

.about-product__row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.about-product__column {
  position: relative;
  z-index: 2;
}

.about-product__columnmin {
  position: relative;
  top: 0px;
}

.about-product__different {
  font-size: 28px;
  font-weight: 800;
  max-width: 510px;
  line-height: normal;
  margin-bottom: 70px;
}

.about-product__li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-product__li:last-child {
  margin-bottom: 0px;
}

.about-product__li span {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.about-product__li div {
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-right: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
}

.about-product__img {
  width: 255px;
  height: 730px;
  position: absolute;
  top: -220px;
  right: -60px;
}

.about-product__img img {
  width: 100%;
  height: 100%;
}

.delivery {
  background-color: #f3f3f3;
  position: relative;
  top: 0px;
  font-family: "Open Sans";
  margin-top: -18px;
}

.delivery__honeydown {
  position: absolute;
  right: 0px;
  top: -10px;
  z-index: 2;
}

.delivery__body {
  padding: 120px 0px;
  position: relative;
}

.delivery__h4 {
  margin-bottom: 100px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.delivery__row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.delivery__colums {
  padding: 0 22.5px;
  flex: 0 1 33.1%;
  display: flex;
  flex-direction: column;
}

.delivery__img {
  text-align: center;
  margin-bottom: 20px;
}

.delivery__strong {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 35px;
  display: block;
  flex: 1 1 auto;
  line-height: normal;
}

.delivery__text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #8a8a8a;
  line-height: normal;
  height: 100%;
}

.delivery__minirow {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 44px;
}

.delivery__number {
  color: #8a8a8a;
  font-size: 90px;
  font-weight: 400;
  display: block;
  margin-right: 15px;
}

.delivery__br {
  background-color: #8a8a8a;
  height: 1px;
  width: 195px;
  margin-bottom: 13px;
}

.compoundandcost {
  background-color: white;
  position: relative;
}

.compoundandcost__backtop {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
}

.compoundandcost__backbottom {
  position: absolute;
  z-index: 0;
  bottom: 0px;
  right: 0px;
}

.compoundandcost__body {
  padding: 65px 0px 35px 0px;
  font-family: "Open Sans";
  position: relative;
  z-index: 1;
}

.compoundandcost__h4 {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 45px;
}

.compoundandcost__rowimg {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px -12.5px 50px -12.5px;
}

.compoundandcost__columfirst {
  padding: 0px 12.5px;
  flex: 0 1 33.33%;
  display: block;
}

.compoundandcost__aimage {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.compoundandcost__imgflip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all 1s linear;
}

.compoundandcost__backsite {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #fdc700;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s linear;
}

.compoundandcost__backsite span {
  color: white;
  display: block;
  font-size: 24px;
  font-weight: 500;
}

.compoundandcost__aimageid {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 11;
  width: 100%;
  height: 100%;
}

.compoundandcost__imgflipid {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  transition: transform 0.3s linear;
  top: 0px;
  left: 0px;
}

.compoundandcost__imgflipid:hover {
  transform: translate(-10px, -10px);
  transition: transform 0.3s linear;
}

.compoundandcost__imgflipid:hover .compoundandcost__bacother {
  opacity: 1;
  visibility: visible;
}

.compoundandcost__imgflipid img {
  width: 100%;
  height: 100%;
}

.compoundandcost__bacother {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(245, 152, 0, 0.6), rgba(250, 180, 0, 0.6), rgba(253, 203, 0, 0.6));
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compoundandcost__hiddena {
  display: block;
  margin-right: 7px;
  padding: 12px;
  background-color: #fd9d01;
  color: yellow;
  font-size: 30px;
}

.compoundandcost__hiddena:hover {
  color: white;
  background-color: #f06819;
}

.compoundandcost__rowsecond {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.compoundandcost__h5 {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 37px;
}

.compoundandcost__h6 {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.compoundandcost__textmain p {
  font-size: 20px;
  font-weight: 500;
  max-width: 680px;
  line-height: normal;
  display: block;
}

.compoundandcost__textmain p:last-child {
  display: block;
  margin-top: 25px;
}

.compoundandcost__scobki {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}

.compoundandcost__costbyn {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.compoundandcost__aa {
  display: block;
  cursor: pointer;
  color: black;
  font-size: 26px;
  font-weight: 500;
  padding: 20px 60px;
  background: linear-gradient(to right, #f49700, #fdcb00, #f49700);
  background-size: 200%;
  border-radius: 25px;
  width: 355px;
  height: 70px;
}

.compoundandcost__aa:hover {
  background-size: 100%;
  color: white;
  transition: all 0.3s ease 0s;
}

.compoundandcost__dopelement {
  font-size: 28px;
  font-weight: 800;
  color: black;
  display: block;
  text-align: center;
}

.compoundandcost__dopelement:hover {
  text-decoration: underline;
}

.compoundandcost__hidenelement {
  margin-top: 20px;
  display: none;
}

.compoundandcost__imghiden {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myslider {
  font-family: "MyriadPro";
}

.myslider__nameandage {
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

.myslider__city {
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 27px;
}

.myslider__text {
  text-align: start;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  max-width: 310px;
  position: relative;
  top: 0px;
}

.myslider__text:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -70px;
  background-color: #000000;
  height: 150px;
  width: 1px;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 1;
}

.pag {
  position: relative;
  margin-top: 30px;
}

.swiper-pagination-bullet-active {
  background-color: #bababa;
}

.slidercomment {
  background-color: #fdc700;
  position: relative;
}

.slidercomment__transparentimg {
  position: absolute;
  top: -5px;
  right: 0px;
}

.slidercomment__body {
  padding: 80px 0px 40px 0px;
}

.slidercomment__h4 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 80px;
}

.comments {
  position: relative;
}

.comments__body {
  padding-bottom: 35px;
}

.comments__h5 {
  text-align: start;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 46px;
  margin-top: 48px;
}

.comments__minirow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.comments__name {
  height: 55px;
  flex: 0 1 39%;
  margin-right: 17px;
  text-indent: 20px;
}

.comments__age {
  height: 55px;
  margin-right: 17px;
  flex: 0 1 30%;
  text-indent: 20px;
}

.comments__city {
  height: 55px;
  flex: 0 1 30%;
  text-indent: 20px;
}

.comments__email {
  height: 55px;
  flex: 0 1 49%;
  margin-right: 17px;
  text-indent: 20px;
}

.comments__number {
  height: 55px;
  flex: 0 1 50%;
  text-indent: 20px;
}

.comments__textarea {
  height: 165px;
  width: 100%;
  text-indent: 20px;
  padding-top: 10px;
}

.comments__button {
  display: block;
  border-radius: 25px;
  font-size: 26px;
  padding: 20px 100px;
  margin: 45px auto 0px auto;
  border: 2.5px solid white;
  background: #fdc700;
}

.comments__button:hover {
  background-color: white;
  transition: all 0.4s ease;
  color: black;
  border: 2.5px solid black;
}

.input {
  font-weight: 300;
  font-size: 24px;
  font-family: "Open Sans";
  color: #a8a8a8;
  border-radius: 4px;
}

.aboutus__body {
  padding: 105px 0px 80px 0px;
  position: relative;
}

.aboutus__h4 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 60px;
}

.aboutus__row {
  display: flex;
  justify-content: center;
}

.aboutus__columimg {
  padding: 0px 20px;
}

.aboutus__img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -100px;
  left: 0px;
}

.aboutus__colum {
  margin: 0 auto;
}

.aboutus__sometext {
  margin-left: 30px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  max-width: 820px;
}

.footer {
  width: 100%;
  height: 100%;
  background: url("../img/background/footer.png") no-repeat;
}

.footer__body {
  padding: 120px 0px 120px 0px;
}

.footer__alltext {
  max-width: 680px;
  margin: 80px auto 0px auto;
  font-family: "Open Sans";
  text-align: center;
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 1222px) {
  .compoundandcost__aimage {
    perspective: 1000px;
  }

  .compoundandcost__aimage:hover .compoundandcost__imgflip {
    transform: rotateY(180deg);
  }

  .compoundandcost__aimage:hover .compoundandcost__backsite {
    transform: rotateY(360deg);
  }
}

@media (max-width: 1829px) {
  .about-product:before {
    content: none;
  }
}

@media (max-width: 1751px) {
  .compoundandcost__backbottom {
    display: none;
  }
}

@media (max-width: 1660px) {
  .compoundandcost__backtop {
    display: none;
  }
}

@media (max-width: 1600px) {
  .slidercomment__h4 {
    margin-top: 95px;
  }
}

@media (max-width: 1480px) {
  .about-product__honey {
    display: none;
  }
}

@media (max-width: 1290px) {
  .delivery__h4 {
    margin-top: 45px;
  }
}

@media (max-width: 1265px) {
  .delivery__colums {
    flex: 0 1 350px;
  }

  .delivery__br {
    width: 165px;
  }
}

@media (max-width: 1259px) {
  .aboutus__img {
    top: -20px;
  }
}

@media (max-width: 1222px) {
  .compoundandcost__imgflip {
    position: relative;
  }

  .deleteelemnt {
    display: none;
  }
}

@media (max-width: 1116px) {
  .aboutus__sometext {
    max-width: 700px;
  }
}

@media (max-width: 1110px) {
  .header-top__minirow {
    justify-content: center;
  }

  .header-top__svgtelephon {
    margin-right: 5px;
  }
}

@media (max-width: 1101px) {
  .about-product:after {
    margin-top: 145px;
  }

  .about-product__h4 {
    margin-bottom: 50px;
  }
}

@media (max-width: 1100px) {
  .header-top__ulmainrowmodification {
    flex-direction: column;
    justify-content: center;
  }

  .header-top__ul:first-child {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .about-product__h4 {
    margin-top: 50px;
  }
}

@media (max-width: 1079px) {
  .compoundandcost__rowsecond {
    flex-direction: column;
    justify-content: center;
  }

  .compoundandcost__textmain p {
    text-align: start;
    margin: 0 auto 20px auto;
  }

  .compoundandcost__aa {
    text-align: start;
    margin: 0px auto;
  }
}

@media (max-width: 986px) {
  .myslider__text {
    margin: 0px auto;
  }
}

@media (max-width: 985px) {
  .delivery__colums {
    padding: 0 12.5px;
  }
}

@media (max-width: 975px) {
  .header-top {
    height: 80px;
  }

  .header-top__logo {
    width: 150px;
    height: 80px;
  }

  .header-top__logo img {
    transform: scale(0.6, 0.6);
  }

  .header-top__logo:after {
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
    border-top: 31px solid #262010;
  }

  .header-top__minirow {
    margin-bottom: 2px;
  }
}

@media (max-width: 950px) {
  .about-product:after {
    margin-top: 160px;
    top: 30px;
  }

  .about-product__img {
    width: 180px;
    height: 550px;
    position: relative;
    top: 0px;
    right: 0px;
    margin-left: 17px;
  }
}

@media (max-width: 925px) {
  .delivery__br {
    width: 130px;
  }
}

@media (max-width: 910px) {
  .aboutus__body {
    padding: 60px 0px 80px 0px;
  }
}

@media (max-width: 906px) {
  .delivery__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 850px) {
  .comments__minirow {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
  }

  .comments__name {
    width: 100%;
    flex: 0 1 99%;
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .comments__age {
    width: 100%;
    flex: 0 1 99%;
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .comments__city {
    width: 100%;
    flex: 0 1 99%;
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .comments__email {
    width: 100%;
    flex: 0 1 99%;
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .comments__number {
    width: 100%;
    flex: 0 1 99%;
    margin-right: 0px;
    margin-bottom: 12px;
  }
}

@media (max-width: 820px) {
  .delivery__br {
    width: 110px;
  }
}

@media (max-width: 800px) {
  .header-top__mobile {
    font-size: 16px;
  }

  .header-top__gmail {
    font-size: 16px;
  }
}

@media (max-width: 775px) {
  .compoundandcost__rowimg {
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 30px 0px;
  }

  .compoundandcost__columfirst:first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .header-top__row {
    justify-content: start;
  }

  .header-top__logo {
    margin-right: 120px;
  }

  .header-top__ulmainrowmodification {
    display: none;
  }

  .header-top__ulmainrowmainnav {
    display: block;
    position: fixed;
    width: 250px;
    z-index: 22;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdc700;
    top: 0px;
    right: -100%;
    transition: all 0.5s ease 0s;
    z-index: 22;
  }

  .header-top__ulmainrowmainnav.active {
    right: 0px;
    top: 0px;
    transition: all 0.5s ease 0s;
    z-index: 22;
  }

  .header-top__ul:first-child {
    margin-bottom: 0px;
  }

  .header-top__ul {
    margin-bottom: 0px;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .header-top__li {
    margin-bottom: 30px;
  }

  .header-top__a {
    font-size: 22px;
  }

  .burger-menu {
    display: block;
    position: fixed;
    z-index: 2242;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .burger-menu span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    z-index: 2242;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .burger-menu span:first-child {
    top: 0px;
  }

  .burger-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .burger-menu.active span {
    background-color: white;
    transform: scale(0);
  }

  .burger-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }

  .burger-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width: 760px) {
  .delivery__br {
    display: none;
  }
}

@media (max-width: 740px) {
  .delivery__text {
    font-size: 16px;
    color: black;
  }
}

@media (max-width: 739px) {
  .delivery__colums {
    flex: 0 1 300px;
    padding: 0px 12px;
  }
}

@media (max-width: 720px) {
  .header-center__forfree {
    max-width: 400px;
  }
}

@media (max-width: 712px) {
  .about-product:after {
    margin-top: 180px;
  }
}

@media (max-width: 683px) {
  .about-product:after {
    margin-top: 210px;
  }
}

@media (max-width: 660px) {
  .header-center__h3 {
    font-size: 30px;
  }

  .header-center__strongtext {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .header-center__forfree {
    font-size: 25px;
    max-width: 380px;
  }

  .header-center__maina {
    font-size: 21px;
    max-width: 300px;
    padding: 20px 34px;
    margin: 0px auto;
  }
}

@media (max-width: 656px) {
  .header-center__downtext {
    font-weight: 600;
  }
}

@media (max-width: 634px) {
  .header-center__body {
    padding: 40px 0px 210px 0px;
  }

  .aboutus__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 630px) {
  .delivery__colums {
    flex: 0 0 320;
  }

  .delivery__img {
    order: 4;
  }

  .delivery__strong {
    max-width: 400px;
    text-align: center;
    order: 2;
  }

  .delivery__text {
    max-width: 400px;
    text-align: center;
    order: 3;
  }

  .delivery__minirow {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    order: 1;
  }

  .delivery__br {
    display: block;
    width: 320px;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .about-product:after {
    margin-top: 125px;
  }

  .about-product__h4 {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .about-product__different {
    text-align: center;
    font-size: 26px;
    margin-bottom: 35px;
  }

  .about-product__li span {
    font-weight: bold;
  }

  .about-product__img {
    position: absolute;
    height: 450px;
    top: 130px;
    z-index: 1;
  }

  .compoundandcost__imghiden {
    width: 100%;
    margin: 0 auto;
  }

  .compoundandcost__imghiden img {
    width: 550px;
  }
}

@media (max-width: 595px) {
  .header-center__minicolum:first-child {
    margin-right: 30px;
  }
}

@media (max-width: 550px) {
  .header-top__logo {
    margin-right: 70px;
  }

  .about-product:after {
    margin-top: 140px;
  }

  .compoundandcost__imghiden {
    width: 100%;
  }

  .compoundandcost__imghiden img {
    width: 500px;
  }
}

@media (max-width: 544px) {
  .header-center__img {
    margin-right: 13px;
  }
}

@media (max-width: 541px) {
  .footer__body {
    padding: 120px 0px 60px 0px;
  }
}

@media (max-width: 522px) {
  .myslider__text:before {
    content: none;
  }
}

@media (max-width: 521px) {
  .header-center__body {
    padding: 40px 0px 180px 0px;
  }
}

@media (max-width: 520px) {
  .header-center__minirow {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .header-center__maincolum {
    margin-bottom: 25px;
  }

  .header-center__minicolum {
    align-items: center;
    justify-content: start;
  }

  .header-center__minicolum:first-child {
    margin-right: 20px;
  }

  .header-center__img {
    margin-right: 30px;
  }

  .header-center__downtext:last-child {
    max-width: 300px;
  }

  .header-center__downtext {
    max-width: 300px;
    font-weight: 600;
  }
}

@media (max-width: 519px) {
  .about-product:after {
    margin-top: 175px;
  }
}

@media (max-width: 500px) {
  .header-center__h3 {
    font-size: 24px;
  }

  .header-center__strongtext {
    font-size: 20px;
  }

  .header-center__forfree {
    font-size: 20px;
  }

  .header-center__maina {
    font-size: 17px;
  }

  .about-product:after {
    margin-top: 115px;
  }

  .about-product__h4 {
    font-size: 24px;
  }

  .about-product__different {
    font-size: 21px;
  }

  .about-product__li span {
    font-size: 16px;
  }

  .compoundandcost__imghiden {
    width: 100%;
  }

  .compoundandcost__imghiden img {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .header-top {
    background-color: transparent;
  }

  .header-top__row {
    justify-content: center;
  }

  .header-top__logo {
    margin-right: 0px;
  }

  .header-top__contacts {
    display: none;
  }

  .header-top__mobile {
    font-weight: bold;
    font-size: 20px;
  }

  .header-top__minirow {
    margin-bottom: 10px;
  }

  .header-top__gmail {
    font-weight: bold;
  }

  .contactsformobile__contacts {
    display: block;
  }
}

@media (max-width: 450px) {
  .compoundandcost__imghiden {
    width: 100%;
  }

  .compoundandcost__imghiden img {
    width: 400px;
  }
}

@media (max-width: 430px) {
  .about-product__img {
    display: none;
  }
}

@media (max-width: 427px) {
  .delivery__text {
    max-width: 300;
    height: auto;
  }

  .delivery__br {
    width: 240px;
  }
}

@media (max-width: 410px) {
  .compoundandcost__rowimg {
    margin-bottom: 0px;
  }

  .compoundandcost__columfirst:first-child {
    margin-bottom: 0px;
  }

  .footer__alltext {
    font-size: 18px;
  }
}

@media (max-width: 404px) {
  .compoundandcost__columfirst {
    flex: 0 0 320px;
    padding: 0px;
  }
}

@media (max-width: 390px) {
  .delivery__honeydown {
    top: -20px;
  }

  .compoundandcost__aa {
    width: 300px;
    text-align: center;
    padding: 20px 18px;
    font-size: 20px;
  }
}

@media (max-width: 382px) {
  .aboutus__columimg {
    padding: 0px;
  }

  .aboutus__sometext {
    font-size: 19px;
  }
}

@media (max-width: 380px) {
  .header-center__maina {
    padding: 20px 34px;
    margin: 0px auto;
  }

  .compoundandcost__aimage {
    width: 320px;
  }

  .compoundandcost__aimage img {
    width: 320px;
  }

  .compoundandcost__imghiden {
    width: 310px;
    padding: 0px 5px;
  }

  .compoundandcost__imghiden img {
    width: 310px;
  }
}

@media (max-width: 374px) {
  .about-product:after {
    margin-top: 160px;
  }
}

@media (max-width: 362px) {
  .about-product:after {
    margin-top: 170px;
  }
}

@media (max-width: 360px) {
  .delivery__honeydown {
    top: -10px;
  }

  .comments__button {
    padding: 20px 60px;
  }
}

@media (max-width: 351px) {
  .about-product:after {
    margin-top: 190px;
  }
}

@media (max-width: 345px) {
  .about-product:after {
    margin-top: 215px;
  }
}

@media (max-width: 337px) {
  .about-product:after {
    margin-top: 235px;
  }
}